* {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li, ul, ol { list-style: none; }
button, input { border: none; }
button { cursor: pointer; }